// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, or any plugin's
// vendor/assets/javascripts directory can be
//referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// compiled file. JavaScript code in this file should be added after the last require_* statement.
//
// Read Sprockets README (https://github.com/rails/sprockets#sprockets-directives) for details
// about supported directives.
//
//= require rails-ujs
//= require jquery
//= require_tree .
$(document).ready(function () {


  function initMap() {
      var latLong = {lat: 35.591391, lng: -82.551023};

      var image = "<%= asset_path ('cat_icon.png')%>";

      var mapOptions = {
        zoom: 10,
        center: latLong,
        scrollwheel: false
      };

      var map = new google.maps.Map(document.getElementById('map'), mapOptions);

      var marker = new google.maps.Marker({
        position: latLong,
        map: map,
        title: 'Stronbox West',
        icon: image,
        animation: google.maps.Animation.DROP,
        draggable:true
      });

      var contentString = '<h2>RARRRRRr</h2>' + '<p>Where all your dreams come true with fire.</p>';

      var infowindow = new google.maps.InfoWindow({
         content: contentString
      });

      google.maps.event.addListener(marker, 'click', function() {
         infowindow.open(map,marker);
      });
  }

});
